@font-face{
    font-family: "Roboto";
    src: url("../assets/Roboto-Regular.ttf");
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
}

.mobile-nav-wrap{
    background-color: #000000cc;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    .mobile-nav{
        width: 25%;
        height: 100%;
        background-color: white;
        margin-left: 75%;
    }
}

.contact-top{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    a{
        .fa-facebook-f, .fa-twitter{
            color: #aaa;
            width: 18px;
            height: 18px;
            margin-left: 20px;
            cursor: pointer;
            transition: .5s;
            &:hover{
                color: #3b5998;
            }
        }
    }
    .contact{
        font-family: "Roboto";
        display: flex;
        flex-direction: row;
        margin-left: 67%;
        p{
            margin-left: 10px;
            color: #add97e;
            cursor: pointer;
            .fa-phone, .fa-envelope{
                color: #aaa;
            }
        }
    }
}

.banner{
    width: 100%;
    height: 143px;
    img{
        width: 100%;
        height: 100%;
    }
}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    z-index: 2;
    background-color: #add97e;
    ul{
        width: fit-content;
        list-style-type: none;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        li{
            float: left;
            margin-left: 30px;
            cursor: pointer;
            height: 100%;
            display: flex;
            align-items: center;
            a{
                color: black;
                text-decoration: none;
                font-size: 17px;
                font-family: "Roboto";
                font-weight: bold;
                transition: .5s;
                letter-spacing: 1px;
                &:hover{
                    color: white;
                }
            }
        }
    }
}

.hovers{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    //z-index: 1;
    .about-drop{
        position: fixed;
        top: 223px;
        left: 19.5%;
        width: 20%;
        height: 230px;
        box-shadow: 0 2px 5px 2px #0000004b;
        display: none;
    }

    .curriculum-drop{
        position: fixed;
        top: 223px;
        left: 30%;
        width: 20%;
        height: 80px;
        box-shadow: 0 2px 5px 2px #0000004b;
        display: none;
    }

    .events-drop{
        position: fixed;
        top: 223px;
        left: 53%;
        width: 20%;
        height: 80px;
        box-shadow: 0 2px 5px 2px #0000004b;
        display: none;
    }

    .join-drop{
        position: fixed;
        top: 223px;
        left: 62%;
        width: 20%;
        height: 80px;
        box-shadow: 0 2px 5px 2px #0000004b;
        display: none;
    }
}